# Core application settings
NODE_ENV=production
URL=http://localhost:3000
PORT=3000
SECRET_KEY=dc292a3cb3227b74b510cccf1ea796d7f532112055c80e04a0a0b7cc3081ec37
UTILS_SECRET=1c79b753d570a117ab9eaa08e289cd2b797f12111d5ab38a32fb333fcd46c37d
FORCE_HTTPS=false
ENABLE_UPDATES=true

# Postgres
POSTGRES_USER=outline
POSTGRES_PASSWORD=PHN2WSLlL9P04Fg7qgiMsSLzHfPfaG/r
POSTGRES_DB=outline
DATABASE_URL=postgres://outline:PHN2WSLlL9P04Fg7qgiMsSLzHfPfaG%2Fr@postgres:5432/outline
PGSSLMODE=disable

# Redis
REDIS_URL=redis://redis:6379

# File storage
FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data

# At least one auth provider is required. Example for Google OAuth:
GOOGLE_CLIENT_ID=replace-me
GOOGLE_CLIENT_SECRET=replace-me
GOOGLE_ALLOWED_DOMAINS=localhost

# Optional email settings
# SMTP_HOST=smtp.example.com
# SMTP_PORT=587
# SMTP_USERNAME=user
# SMTP_PASSWORD=pass
# SMTP_FROM_EMAIL=outline@example.com
# SMTP_REPLY_EMAIL=outline@example.com
